
*{
  margin: 0;
}

  body{
  background-color: whitesmoke;
  display: grid;
  /* place-content: center; */
  /* margin: 0; */


}
.App{
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* gap: 30px; */
}
.stackboard-container{
  margin-top: 10px;
  background-color: white;
  min-width: 320px;
  padding: 15px;
  .title{
    /* margin: 0; */
    display: flex;
    justify-content: space-between;
  }
  h1{
    margin: 0;
  }
  .progress-clr{
     margin-top: 10px;

    display: flex;

   > div{
        height: 10px;

   } 
      .first-value{
        background-color: rgb(255, 0, 200);
        width: 80%;
      }
    .second-value{
       background-color: whitesmoke;
        width: 30%;
    }
  }
  .month{
     margin-top: 10px;

    display: flex;
    justify-content: space-between;
  }
}
